 @import 'styles/sass/mixins.scss';

 label {
 	@include flex(row, stretch, center);
 	transition: background-color 0.2s ease-in-out 0s;

 	&:hover {
 		background-color: #F1FCFF;
 	}

 	.checkbox {
 		margin: 0px 10px;
 		height: 40px;
 		cursor: pointer;
 	}
 }