.container {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 150px;
	text-transform: uppercase;

	.line {
		margin-top: 10px;
		border: 1px solid #D3D6D7;
	}

	.airplaneIcon {
		width: 30px;
		position: absolute;
		top: 14.2px;
		right: -30px;
	}
}