 @import 'styles/sass/variables.scss';
 @import 'styles/sass/mixins.scss';

 .container {
 	background-color: $secondaryBackgroundColor;
 	@include flex(column, stretch, start);
 	width: 250px;
 	height: 350px;
 	box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);
 	border-radius: 5px;

 	.title {
 		padding: 10px;
 		text-transform: uppercase;
 		font-weight: 600;
 	}

 	.currencyContainer {
 		margin-top: 10px;
 		width: 100%;
 		@include flex(row, space-between, center);
 		padding: 0px 10px;
 	}

 	.subtitle {
 		margin-top: 25px;
 		text-transform: uppercase;
 		font-weight: 600;
 		padding: 0px 10px;
 	}

 	.transplants {
 		margin-top: 10px;
 		width: 100%;
 		height: 100%;
 		@include flex(column, space-between, stretch);
 	}
 }